*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.banner{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(slide2.jpg);
	background-size: cover;
	background-position: center;
}
.navbar{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 30px;
	text-transform: uppercase;
}
.navbar ul li a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}
.navbar ul li::after{
	content: '';
	height: 3px;
	width: 100%;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: 0;
}
.one{
	font-size: 200%;
}
.button{
	background-color: rgb(165, 42, 42);
	color:white;
	transform: translateX(900%);
}
.navbar ul li a .button{
	display: inline-block;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	line-height: 30px;
	width: 55px;
	font-weight: 550;
	border-radius: 2px;
	border: none;
	background: linear-gradient(to right, rgb(165, 42, 42) 0%, rgb(165, 42, 42) 50%, rgb(165, 42, 42) 100%);
	color:black;
	transform: translateX(450px);
	
}
.div1 ul li a .button2{
	display: inline-block;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	line-height: 35px;
	font-weight: 550;
	border-radius: 2px;
	border: none;
	background: linear-gradient(to right, rgb(165, 42, 42) 0%, rgb(165, 42, 42) 50%, rgb(165, 42, 42) 100%);
	color:black;
	
}
.div1 ul li a{
	position: fixed;
	transform: translateX(290%);
	
}
.div1 ul li{
	transform: translateY(2000%);
	
}
.content{
	width: 100%;
	position: absolute;
	top: 35%;
	transform: translateY(-50%);
	text-align: center;
	color: white;
}
.content h1{
	font-size: 70px;
	margin-top: 80px;
	color: rgb(165, 42, 42);
}
.content p{
	font-size: 70px;
	margin-top: 80px;
	line-height: 25px;
}
.header{
	position: absolute;
	top: 78%;
	left: 35%;
	transform: translate(-50%, -50%);
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	color: white;
	font-size: 2em;
}
.lets{
	position: absolute;
	top: 70%;
	left: 16%;
}
#head1, #head2,#head3, #head4, #head5{
	opacity: 0;
	color: rgb(165, 42, 42)
}

#head1{
	-webkit-animation: fadeOut 1 5s ease-in;
	-moz-animation: fadeOut 1 5s ease-in;
	-o-animation: fadeOut 1 5s ease-in;
	animation: fadeOut 1 5s ease-in;
}

#head2{
	-webkit-animation: fadeOut 1 5s ease-in;
	-moz-animation: fadeOut 1 5s ease-in;
	-o-animation: fadeOut 1 5s ease-in;
	animation: fadeOut 1 5s ease-in;
	-webkit-animation-delay: 6s;
	-moz-animation-delay: 6s;
	-o-animation-delay: 6s;
	animation-delay: 6s;
}

#head3{
	-webkit-animation: fadeOut 1 5s ease-in;
	-moz-animation: fadeOut 1 5s ease-in;
	-o-animation: fadeOut 1 5s ease-in;
	animation: fadeOut 1 5s ease-in;
	-webkit-animation-delay: 12s;
	-moz-animation-delay: 12s;
	-o-animation-delay: 12s;
	animation-delay: 12s;
}

#head4{
	-webkit-animation: fadeOut 1 5s ease-in;
	-moz-animation: fadeOut 1 5s ease-in;
	-o-animation: fadeOut 1 5s ease-in;
	animation: fadeOut 1 5s ease-in;
	-webkit-animation-delay: 17s;
	-moz-animation-delay: 17s;
	-o-animation-delay: 17s;
	animation-delay: 17s;
}


@-webkit-keyframes fadeIn{
	from{opacity: 0;}
	to{opacity: 1;}
}

@-moz-keyframes fadeIn{
	from{opacity: 0;}
	to{opacity: 1;}
}

@-o-keyframes fadeIn{
	from{opacity: 0;}
	to{opacity: 1;}
}

@keyframes fadeIn{
	from{opacity: 0;}
	to{opacity: 1;}
}

@-webkit-keyframes fadeOut{
	0%{opacity: 0;}
	30%{opacity: 1;}
	80%{opacity: .9;}
	100%{opacity: 0;}
}

@-moz-keyframes fadeOut{
	0%{opacity: 0;}
	30%{opacity: 1;}
	80%{opacity: .9;}
	100%{opacity: 0;}
}

@-o-keyframes fadeOut{
	0%{opacity: 0;}
	30%{opacity: 1;}
	80%{opacity: .9;}
	100%{opacity: 0;}
}

@keyframes fadeOut{
	0%{opacity: 0;}
	30%{opacity: 1;}
	80%{opacity: .9;}
	100%{opacity: 0;}
}

@-webkit-keyframes finalFade{
	0%{opacity: 0;}
	30%{opacity: 1;}
	80%{opacity: .9;}
	100%{opacity: 1;}
}

@-moz-keyframes finalFade{
	0%{opacity: 0;}
	30%{opacity: 1;}
	80%{opacity: .9;}
	100%{opacity: 1;}
}

@-o-keyframes finalFade{
	0%{opacity: 0;}
	30%{opacity: 1;}
	80%{opacity: .9;}
	100%{opacity: 1;}
}

@keyframes finalFade{
	0%{opacity: 0;}
	30%{opacity: 1;}
	80%{opacity: .9;}
	100%{opacity: 1;}
}
.footer1{
	position: fixed; 
	color: rgb(165, 42, 42);
	transform: translateY(4300%);
}
.footer1 h5{
	transform: translateX(550%);
}
.footer2{
	position: fixed; 
	color: rgb(165, 42, 42);
	transform: translateY(4300%);
}
.footer2 h5{
	transform: translateX(1250%);
}
.footer3{
	position: fixed; 
	color: rgb(165, 42, 42);
	transform: translateY(4300%);
}
.footer3 h5{
	transform: translateX(338%);
}